*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#141E30,#243B55);
}

.container{

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

h1{

color:white;

font-size:42px;

margin-bottom:10px;

}

.subtitle{

color:#ddd;

margin-bottom:25px;

}

.board{

display:grid;

grid-template-columns:repeat(3,110px);

gap:12px;

justify-content:center;

margin-bottom:25px;

}

.cell{

width:110px;

height:110px;

font-size:45px;

font-weight:bold;

border:none;

border-radius:15px;

cursor:pointer;

background:white;

transition:.3s;

}

.cell:hover{

background:#74b9ff;

transform:scale(1.05);

}

#status{

color:white;

margin-bottom:20px;

font-size:22px;

}

#reset{

padding:14px 35px;

border:none;

border-radius:40px;

background:#00b894;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

#reset:hover{

background:#019875;

transform:translateY(-4px);

box-shadow:0 8px 18px rgba(0,0,0,.3);

}

@media(max-width:500px){

.board{

grid-template-columns:repeat(3,90px);

}

.cell{

width:90px;

height:90px;

font-size:35px;

}

}